@{
    ViewData["Title"] = "About Us";
}

<h2 class="section-header">Who We Are</h2>
<div class="section-header">
    <div class="vennelag-section vennelag-text">
        <p>
            The Sons of Norway is an international organization with a local connection in Mt. Horeb, WI.
            Additional lodges can be found across Canada, Norway, and the remainder of the United States of America.
            There are 51,600 members as of December, 2017.
            One goal of the Sons of Norway is to connect with communities and their residents by celebrating the customs and heritage of the Norwegian people.
            Vennelag Lodge (the Circle of Friends) holds meetings with either a social or cultural focus in the months of January through June, and from September through December.
            As a fraternal organization, Vennelag Lodge also offers optional financial benefits to its members.
        </p>
        <br/>
        <p>
            Two large culinary events are shared with the public every year.
            A summer Kaffe Stue (coffee/lunch room) is held every July in conjunction with Mt. Horeb’s Annual Art Fair.
            Members prepare a Høst Frokost or fall breakfast the first Saturday of October.
            In addition, a popular Norwegian Baking Workshop is held the first Saturday of November and is open to all, including youth 9 years of age and older with adult supervision.
            A Juletrefest or Christmas Tree Festival occurs annually on the first Saturday in December.
        </p>
        <br/>
        <p>
            Activities for children include riding on our Viking float in area parades, sponsorship at the Barnebirke or Children’s Ski Race held prior to the American Birkebeiner every February in Hayward, WI, and a two-week summer Norwegian heritage camp called Masse Moro, which means “lots of fun”!
            This camp is held at Beaver Creek Reserve near Fall Creek, WI.
            For more information, select: <a href="http://www.massemoro.org" target="_blank">www.massemoro.org</a>.
            Members receive discounts for camp attendance from both the local and district levels of the organization, making this unique camp experience very affordable.
        </p>
        <br/>
        <p>
            As youth age, college scholarships, as well as travel opportunities are offered.
            A post-secondary opportunity to attend a folk high school in Norway is also possible.
            For more information, view the website: <a href="http://www.SofN.com" target="_blank">www.SofN.com</a>, and click Foundation on the top ribbon then select scholarships.
            A program called Norway Connects also pairs young adults with businesses in Norway that can launch their careers.
            Attendance at a Norwegian university is an option for adults.
            Some prerequisites apply.
            Vennelag members have attended the University of Oslo and the University of Bergen.
        </p>
        <br/>
        <p>
            Vennelag Lodge is a vibrant and active community partner, enriching the lives of area citizens through it philanthropic service and support.
            Should you need more information about Vennelag Lodge, please contact: Cheryl Wille-Schlesser, Lodge President, at: <a href="mailto:rogrcher@mhtc.net" target="_top">rogrcher@mhtc.net</a> or call: 608-219-4464.
        </p>
    </div>
</div>

<h2 class="section-header">History of Vennelag</h2>
<div class="section-header">
    <div class="vennelag-section vennelag-text">
        <p>
            Sons of Norway Lodge #5-513 was chartered in Mt. Horeb, Wisconsin by Hilmen E. Kjorlie, President of the Supreme Lodge on November 19, 1971, with 83 charter members.
            The first official meeting was held on January 27, 1971, when the name for the new lodge was chosen.
            "Vennelag" means "Circle of Friends".
            By the time the charter was closed, 164 members had signed.
        </p>
        <br/>
        <p>
            From the start, Vennelag Lodge members have participated in many community events such as the Summer Frolic and the former Song of Norway.
            They have welcomed visitors from Norway for many years.
            The Lodge has worked closely with the Mt. Horeb Area Historical Society to preserve Norwegian artifacts from area families.
            They were led by George Sievers whose involvement with the Lodge spanned over 30 years.
        </p>
        <br/>
        <p>
            Numerous cultural activities have been implemented including bunad construction classes, knitting classes, Hardanger embroidery lessons, and rosemaling instruction.
            A book club also began. The S.S. Vennelag, a Viking ship float has sailed through area parades for approximately 3 decades, helping to put Mt. Horeb on everyone's radar!
        </p>
        <br/>
        <p>
            Since 1979 a summer Kaffee Stue has been held every July. It has had numerous locations but now calls the Mt. Horeb Community Center, 107 N. Grove Street, its home.
            Over the course of time, a fall breakfast was added to the culinary line-up on the first Saturday in October.
            A Norwegian Baking Workshop was instituted, meeting the needs of many area residents.
            Recently, the Lodge began a lefse fundraiser which is held just prior to Christmas.
            Other fundraisers help the Ledge to fund high school and heritage camp scholarhips, and they provide money for noteworthy needs and projects.
        </p>
        <br/>
        <p>
            Vennelag members have been active in Fifth District affairs, sending delegates to biennial conventions, and hosting the District 5 Board for dinner and for breakfast over years.
            Numerous individuals have also served in leadership positions on District 5 Board, and one person also served on the International Board of Directors.
            Vennelag has sent delegates to International Conventions, too.
        </p>
        <br/>
        <p>
            Today, Vennelag is a vibrant and growing lodge, meeting the #Growing to2020 goal set by the International Board of Directors in 2017.
            The Lodge continues to fill the need felt in 1971...for an organization that could express the desires and interests of local Norwegian-Americans who now call the Mt. Horeb area home.
        </p>
        <br/>
        <p>
            Submitted by: Cheryl Wille-Schlesser, Lodge President, January, 2018.
        </p>
    </div>
</div>

<h2 class="section-header">Executive Committee</h2>
<div class="vennelag-section">
    <table class="table">
        <tbody class="vennelag-text">
            <tr>
                <td class="td-left">
                    <strong>President:</strong>
                </td>
                <td>
                    <p>Cheryl Wille-Schlesser<br/></p>
                </td>
                <td>
                    <small>
                        Address: 200 Beth Circle, Mount Horeb, WI 53572<br/>
                        Phone: 608-219-4464<br/>
                        E-Mail: <a href="mailto:rogrcher@mhtc.net" target="_top">rogrcher@mhtc.net</a>
                    </small>
                </td>
                <td>
                    <img class="img-responsive visible-lg" src="~/images/about-us/cheryl.jpg" style="height: 120px;"/>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Vice President / Membership Secretary:</strong>
                </td>
                <td>
                    <p>Carolyn Johnson (mentoring Jean Grindle)<br/></p>
                </td>
                <td>
                    <small>
                        Address: 938 Fritz Road, Belleville, WI 53508<br/>
                        Phone: 608-424-3149<br/>
                        E-Mail: <a href="mailto:cmj@chorus.net" target="_top">cmj@chorus.net</a>
                    </small>
                </td>
                <td>
                    <img class="img-responsive visible-lg" src="~/images/about-us/carolyn.jpg" style="height: 120px;"/>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Counselor:</strong>
                </td>
                <td colspan="3">
                    <p>Chuck Mørkri</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Secretary:</strong>
                </td>
                <td colspan="3">
                    <p>Rita Schraepfer, an Assistant Secretary is welcome.</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Treasurer:</strong>
                </td>
                <td colspan="3">
                    <p>Tamiko Clary, an Assistant Treasurer is welcome.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="section-header">Program Directors</h2>
<div class="vennelag-section">
    <table class="table">
        <tbody class="vennelag-text">
            <tr>
                <td class="td-left">
                    <strong>Social Director:</strong>
                </td>
                <td>
                    <p>Allen Watrud</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Food Chairman:</strong>
                </td>
                <td>
                    <p>Ann Walser (mentoring Mary Gullickson-Krantz)</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Cultural Director:</strong>
                </td>
                <td>
                    <p>Tiffany Schwoerer</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Sports and Recreation Director:</strong>
                </td>
                <td>
                    <p>Davi Penne</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Foundation Director:</strong>
                </td>
                <td>
                    <p>Harley Skjervem</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Youth Directors:</strong>
                </td>
                <td>
                    <p>Michelle and Kelly Skeels</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="section-header">Supporting Directors</h2>
<div class="vennelag-section">
    <table class="table">
        <tbody class="vennelag-text">
            <tr>
                <td class="td-left">
                    <strong>Trustees / Auditors:</strong>
                </td>
                <td>
                    <p>Arthur Ness, John Eberhardt, David Andersen</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Publicity Director:</strong>
                </td>
                <td>
                    <p>Mary Gullickson-Krantz</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Newsletter Editor:</strong>
                </td>
                <td>
                    <p>Arlene Watrud-Krueger</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Webmaster (not an elected position):</strong>
                </td>
                <td>
                    <p>Evan Ellis</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Historian / Scrapbook:</strong>
                </td>
                <td>
                    <p>Aldeen Fjelstad</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Musician:</strong>
                </td>
                <td>
                    <p>Eric Albrecht (Nathan Albrecht and Brenda Albrecht will assist).<br/>
                    Lora Lee will serve as mentor.</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Marshal & Assistant Marshal:</strong>
                </td>
                <td>
                    <p>Positions will be assigned before any special lodge event such as Installation of Officers.</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Greeters:</strong>
                </td>
                <td>
                    <p>Those who are on the set-up crew for a monthly meeting will also serve as greeters for that day.</p>
                </td>
            </tr>
            <tr>
                <td class="td-left">
                    <strong>Frokost and Kaffe Stue Committees:</strong>
                </td>
                <td>
                    <p>All members of Vennelag Lodge<br/>
                    (These events would not be successful without the input and support of all members.)</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>