@{
    ViewData["Title"] = "Scholarship";
}

<h2 class="section-header">2018 Scholarship</h2>

<a class="vennelag-text" href="~/Content/VennelagScholarship2018.pdf" target="_blank">Open Scholarship Application as PDF</a>
<br/>
<br/>

<div class="vennelag-section">
    <p class="sub-lead">
        Vennelag 5-513 will be offering a $1000 scholarship for the 2018-2019 acdemic year.
        The recipient will receive the monetary award after successfully completing the fall semester at their chosen school.
        An official transcript will be required as proof.
        Evidence of registration for the second semester is also required.
        These items must be submitted to the Lodge President for approval and to obtain payment.
        Applicant must be a member or have a parent or grandparent who is a member of Vennelag Lodge, 5-513.
    </p>
    <strong style="font-size:20px;">The scholarship deadline is March 1, 2018.</strong>
    <p>(No applications will be accepted after that date.)</p>
</div>

<div class="vennelag-section"> 
    <div class="well well-assist">
        <p style="font-size:17px;font-weight:500;">Please include the following items, as this information will be used to blind copy your application:</p>
        <ul class="vennelag-text">
            <li><p>Name</p></li>
            <li><p>Address</p></li>
            <li><p>Phone number</p></li>
            <li><p>Email address</p></li>
            <li><p>I am a current member of Vennelag Lodge 5-513 (Yes/No). If yes, my membership number.</p></li>
            <li><p>My parent or grandparent is a member of Vennelag Lodge 5-513 (Yes/No). If yes, their membership number.</p></li>
            <li><p>Institution of higher learning you plan to attend</p></li>
            <li><p>Declared or intended major</p></li>
        </ul>
        <br/>
        <p style="font-size:17px;font-weight:500;">Please provide responses to the following in your scholarship application document:</p>
        <ol class="vennelag-text">
            <li><p>List the activities you were involved in during high school.</p></li>
            <li><p>Briefly describe your involvement in each including: the office held, what you learned through your participation, and what you personally contributed to the activity.</p></li>
            <li><p>Briefly describe a specific high school learning experience that you found to be especially significant and how it will relate to your college studies.</p></li>
            <li><p>Describe your past and continuing community involvement. If you have served Vennelag Lodge in any capacity, please include that information here.</p></li>
            <li><p>Share what you know about your Norwegian heritage or explain how you are connected with Vennelag Lodge.</p></li>
            <li><p>Describe the goals you have for yourself, as you continue your education beyond high school.</p></li>
        </ol>
    </div>
</div>
    
<div class="vennelag-section">
    <br/>
    <p class="vennelag-text">
        Your application will be blind and the recipient will be chosen by the scholarship committee based solely on the responses given.
        <br/>
        <br/>
        Please use the following checklist to ensure that you have submitted a complete and thorough document:<br/>
    </p>
    <ul class="vennelag-text">
        <li>I have provided all person information such as: name, address, and affiliation with Vennelag Lodge, 5-513.</li>
        <li>I have identified the institution I plan to attend.</li>
        <li>I have proofread my responses for accuracy.</li>
    </ul>
    <br/>
</div>

<div class="vennelag-section" style="margin-top:-20px;">
    <p class="vennelag-text text-center">
        Email your completed scholarship application to
        <a href="mailto:cmj@chorus.net?Subject=Scholarship%20Application" target="_top">cmj@chorus.net</a>.
        <br/>
        Please attach your document as a PDF to your email.
    </p>
    <p class="text-center" style="font-size: 20px;font-weight:500;">
        OR
    </p>
    <p class="vennelag-text text-center">
        Mail your completed application to:<br/>
        &emsp; Carolyn Johnson<br/>
        &emsp; 938 Fritz Road<br/>
        &emsp; Belleville, WI 53508<br/>
    </p>
</div> 

<div class="vennelag-section">
    <p class="vennelag-text">
        * Further inquiries about the application should be directed to Carolyn at the above e-mail address.
        In the event that she cannot be contacted, your questions may be sent to Lodge President, Cheryl Wille-Schlesser at:
        <a href="mailto:rogrcher@mhtc.net" target="_top">rogrcher@mhtc.net</a>.
    </p>
</div>